<div class="card"  *ngFor="let v of propertydetails">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <h1>image</h1>
      </div>
      <div class="col-6">
          <h1>{{v.OwnerName}}</h1>
          <h1>{{v.email}}</h1>
          <h1>{{v.phoneNo}}</h1>
          <h1>{{v.propertyAddress}}</h1>
          <h1>{{v.propertyType}}</h1>
          <h1>{{v.rent}}</h1>
          <button class="btn btn-primary" (click)="add(v)">add to cart</button>
      </div>
    </div>
  </div>
</div>