<form #formref (ngSubmit)="change()" class="w-50 mx-auto border p-5 mt-5 shadow" [formGroup]="passwordChange">
  <h1 class="text-center">Password change</h1>
  <label for="username">Username</label>
  <input type="text" name="username" class="form-control" formControlName="username">
  <div *ngIf="(username.invalid && username.touched)" class="text-danger">
    <p *ngIf="username.errors?.['required']">*This is required</p>
  </div>
  <label for="oldpassword">Old password</label>
  <input type="password" name="oldpassword" class="form-control" formControlName="oldpassword">
  <div *ngIf="(oldpassword.invalid && oldpassword.touched)" class="text-danger">
    <p *ngIf="oldpassword.errors?.['required']">*This is required</p>
  </div>
  <label for="newpassword">New password</label>
  <input type="password" name="newpassword" class="form-control" formControlName="newpassword">
  <div *ngIf="(newpassword.invalid && newpassword.touched)" class="text-danger">
    <p *ngIf="newpassword.errors?.['required']">*This is required</p>
  </div>
  <label for="newpasswordmatch">New password</label>
  <input type="password" name="newpasswordmatch" class="form-control" formControlName="newpasswordmatch">
  <div *ngIf="(newpasswordmatch.invalid && newpasswordmatch.touched)" class="text-danger">
    <p *ngIf="newpasswordmatch.errors?.['required']">*This is required</p>
  </div>
  <button class="btn btn-success d-block mt-4 mx-auto" type="login">Change</button>
</form>