<form #formref (ngSubmit)="submit()" class="w-50 mx-auto border p-5 mt-5 shadow" [formGroup]="addRegistration">
  <h1 class="text-center">Add Registration</h1>
  <label for="OwnerName">OwnerName</label>
  <input type="text" name="OwnerName" class="form-control" formControlName="OwnerName">
  <div *ngIf="(OwnerName.invalid && OwnerName.touched)" class="text-danger">
    <p *ngIf="OwnerName.errors?.['required']">*This is required</p>
  </div>
  <label for="email">Email</label>
  <input type="email" name="email" class="form-control" formControlName="email">
  <div *ngIf="(email.invalid && email.touched)" class="text-danger">
    <p *ngIf="email.errors?.['required']">*This is required</p>
  </div>  
  <label for="phoneNo">phoneNo</label>
  <input type="number" name="phoneNo" class="form-control" formControlName="phoneNo">
  <div *ngIf="(phoneNo.invalid && phoneNo.touched)" class="text-danger">
    <p *ngIf="phoneNo.errors?.['required']">*This is required</p>
  </div>
  <label for="property">Property</label><br>
  <div class="ms-5" formGroupName="property">
    <label for="propertyAddress">PropertyAddress</label>
    <input type="text" name="propertyAddress" class="form-control" formControlName="propertyAddress">
    <div *ngIf="(propertyAddress.invalid && propertyAddress.touched)" class="text-danger">
      <p *ngIf="propertyAddress.errors?.['required']">*This is required</p>
    </div>
    <label for="propertyType">PropertyType</label>
    <input type="text" name="propertyType" class="form-control" formControlName="propertyType">
    <div *ngIf="(propertyType.invalid && propertyType.touched)" class="text-danger">
      <p *ngIf="propertyType.errors?.['required']">*This is required</p>
    </div>
    <label for="bhkType">bhkType</label>
    <input type="text" name="bhkType" class="form-control" formControlName="bhkType">
    <div *ngIf="(bhkType.invalid && bhkType.touched)" class="text-danger">
      <p *ngIf="bhkType.errors?.['required']">*This is required</p>
    </div>
    <label for="rent">rent</label>
    <input type="text" name="rent" class="form-control" formControlName="rent">
    <div *ngIf="(rent.invalid && rent.touched)" class="text-danger">
      <p *ngIf="rent.errors?.['required']">*This is required</p>
    </div>

    <label for="photo">Upload photo</label>
    <!-- name helps during backend multer storage -->
      <input type="file" class="form-control"  name="photo" id="photo" #profile (input)="onFileSelect(profile.files[0])">
  </div>
  <button class="btn btn-success d-block mt-4 mx-auto" type="submit">Post</button>
</form>